.nav {
    padding: 20px;
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    z-index: 1;
    /*Animation */
    transition-timing-function: ease-in;
    transform: all 0.5s;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav__black {
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    background-color: #111;
    position: fixed;
}